<% provide(:title, 'New Launche') %>
<h1>New Launche</h1>

<%= form_for(@launche) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :date_launche, "Date" %>
  <%= f.text_field :date_launche %> <br />

  <%= f.label :miles %>
  <%= f.text_field :miles %> <br />

  <%= f.label :price %>
  <%= f.text_field :price %>  <br />

  <%= f.label :total %>
  <%= f.text_field :total %> <br />

  <%= f.submit "Create launche" %>
<% end %>
